{% extends 'base.html.twig' %}


{% block body %}
	<div class="oups">
		<H1>OUPS</H1>
		<div>
			<H2>It looks like you fell from the boat</H2>
		</div>
		<a href="/map">Grab this rope to rejoin the black pearl</a>
	</div>
{% endblock %}
